*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 100%; 

	@include respond(extra-large) {
        font-size: 90%;
	}
	
	@include respond(large) {
        font-size: 80%;
    }
}

body {
	box-sizing: border-box;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
	background-repeat: no-repeat;
	min-height: 100vh;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	font-display: inherit;
	font-size: 16px;
	color: inherit;
	border: none;

	&:focus {
		outline: none;
	}
}

button {
	border: none;
	
	&:focus {
		outline: none;
	}
}

.container {
    max-width: 75rem;
    margin: 5rem auto;
    background-color : $color-grey-light-1;
    box-shadow: $shadow-dark;

    @include respond(extra-large) {
        max-width: 100%;
        margin: 0;
    }
}