.bold {
    font-weight: 700 !important;
}

.mg-bottom-md {
    margin-bottom: 1.25rem !important;
}

.mg-bottom-sm {
    margin-bottom: 1rem !important;
}

.mg-right-sm {
    margin-right: 1rem !important;
}

.mg-bottom-tn {
    margin-bottom: .5rem !important;
}

.flex-sb-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-fit {
    flex: 1;
}

.full-height {
    min-height: 100vh;
}



