.cta {
    background-color: #fff;
}

.concert-box {
    display: flex;
    max-width: 83.33333333%;
    .poster {
        max-width: 50%;
        padding: 1rem 1.5rem;

        img {
            width: 100%;
        }
    }
}