/*
Order: Base + typography > general layout + grid > page layout > components
lem = 16px;
*/

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 90%;
  }
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

input,
textarea,
optgroup,
select {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
  border: none;
}

input:focus,
textarea:focus,
optgroup:focus,
select:focus {
  outline: none;
}

::-webkit-input-placeholder,
::-webkit-input-placeholder {
  color: #afb3b5;
}

::-webkit-input-placeholder,
::placeholder {
  color: #afb3b5;
}

textarea {
  overflow: auto;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media only screen and (max-width: 75em) {
  .container {
    max-width: 100%;
    margin: 0;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.inline-block {
  display: inline-block;
}

.title-margin-top {
  margin-top: 1.5rem;
}

body {
  font-family: "lato", Helvetica, Arial, Sans-Serif;
  font-weight: 400;
  line-height: 1.6;
  color: #6D5D4B;
  background-color: #f9f7f6;
}

.heading-primary {
  color: #54483A;
}

.heading-primary--main {
  font-size: 1.8rem;
}

.heading-primary--sub {
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.bold {
  font-weight: 700 !important;
}

.mg-bottom-md {
  margin-bottom: 1.25rem !important;
}

.mg-bottom-sm {
  margin-bottom: 1rem !important;
}

.mg-right-sm {
  margin-right: 1rem !important;
}

.mg-bottom-tn {
  margin-bottom: 0.5rem !important;
}

.flex-sb-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-fit {
  flex: 1;
}

.full-height {
  min-height: 100vh;
}

.text-center {
  text-align: center !important;
}

.block {
  display: block !important;
}

.btn {
  position: relative;
  background-image: linear-gradient(to right, #c69963, #B28451);
  color: #fff;
  padding: 1.25rem 6.25rem;
  border-radius: 100px;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.btn--right {
  float: right;
}

.btn__visible,
.btn__invisible {
  display: inline-block;
  width: 100%;
  padding: 1.25rem;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

@media only screen and (max-width: 31em) {
  .btn__visible,
  .btn__invisible {
    padding: 1rem;
  }
}

.btn__visible {
  top: 0;
}

.btn__invisible {
  top: -60%;
  opacity: 0;
}

.btn:hover .btn__visible {
  top: 60%;
  opacity: 0;
}

.btn:hover .btn__invisible {
  top: 0;
  opacity: 1;
}

.btn--normal {
  padding: 0.5rem 1rem;
  transition: transform, color 0.3s;
  border-radius: 0.25rem;
}

.btn--normal:hover {
  transform: translateY(-2px);
  color: #e8eaeb;
}

.btn--normal:active {
  transform: translateY(-1px);
}

.btn--grey {
  background: #e8eaeb;
  color: #101d2c;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  box-shadow: 0 1.25rem 3.12rem rgba(0, 0, 0, 0.06);
  margin-right: 1rem;
  transition: all 0.3s;
}

.btn--grey:hover {
  transform: translateY(-2px);
  background: #afb3b5;
}

.btn--grey:active {
  transform: translateY(-1px);
}

.btn-inline {
  display: inline-block;
  color: #c69963;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-inline span {
  margin-left: 3px;
  transition: margin-left 0.2s;
}

.btn-inline:hover {
  color: #54483A;
}

.btn-inline:hover span {
  margin-left: 8px;
}

.btn-inline:focus {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 10px 2.5rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 10px 2.5rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.alert {
  padding: 1rem 1.5rem;
  border: 1px solid #e8eaeb;
  border-radius: 0.25rem;
}

.alert--danger {
  border-color: #d95550;
  background-color: #fffafa;
  color: #d95550;
}

.alert--success {
  border-color: #c69963;
  background-color: #f9f7f6;
  color: #c69963;
}

.alert__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.alert__list {
  padding-left: 2.5rem;
  list-style: disc;
}

.alert__list li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.ticket {
  max-width: 40%;
  margin: 2rem auto;
}

@media only screen and (max-width: 62em) {
  .ticket {
    max-width: 60%;
  }
}

@media only screen and (max-width: 36em) {
  .ticket {
    max-width: 100%;
  }
}

.ticket__container {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e8eaeb;
  background-color: #fff;
}

.ticket__info__item {
  margin-bottom: 1.5rem;
}

.ticket__info__item img {
  width: 1.2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.ticket__info__item span {
  color: #54483A;
  vertical-align: middle;
}

.ticket__info__item p {
  margin-left: 1.7rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 1.5rem;
}

.form__group {
  flex-basis: 50%;
}

.form__label {
  color: #54483A;
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.form .input-group {
  display: flex;
  border: 1px solid #e8eaeb;
  border-radius: 0.25rem;
  overflow: hidden;
}

.form .input-group__addon {
  display: flex;
  padding: 0 0.75rem;
  align-items: center;
  border-right: 1px solid #e8eaeb;
}

.form .input-group .form__control {
  flex: 1;
  border: none;
  border-radius: 0;
}

.form__control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
  line-height: 1.25;
  border: 1px solid #e8eaeb;
  border-radius: 0.25rem;
}

.form__control--static {
  background-color: transparent;
  border: none;
  padding: 0.5rem 0;
}

.form__control[type=date]::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

.form__control[type=date]::-webkit-inner-spin-button {
  height: 1.25em;
}

.form__btn {
  margin-top: 2rem;
}

.form .has-error .form__label {
  color: #d95550;
}

.form .has-error .form__control {
  border-color: #d95550;
}

.form .has-error .help-block {
  color: #d95550;
  margin-top: 0.25rem;
}

.login {
  padding: 2rem;
  width: 28rem;
  border-radius: 3px;
  box-shadow: 0 3px 0.7rem rgba(0, 0, 0, 0.25);
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.login__item {
  display: flex;
  border: 1px solid #6D5D4B;
  border-radius: 3px;
  margin-bottom: 1.8rem;
}

.login__icon-box {
  display: flex;
  padding: 0.6rem 0.8rem;
  border-right: 1px solid #6D5D4B;
}

.login__icon-box svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: #6D5D4B;
  align-items: center;
}

.login__input {
  flex: 1;
  padding: 0.4rem 0.6rem;
}

.login__submit {
  width: 100%;
  background-image: linear-gradient(to right bottom, #c69963, #B28451);
  color: #fff;
  border-radius: 3px;
  padding: 0.6rem 0.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s;
}

.login__submit:hover {
  opacity: 0.85;
}

.login__warming {
  margin-top: 1rem;
  text-align: center;
  color: red;
}

.navbar {
  background-color: #101d2c;
  padding: 0.75rem 0;
}

.navbar .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-content .logo {
  width: 2.5rem;
  display: block;
}

.navbar .nav-content .logout button {
  background-color: transparent;
  color: #fff;
  font-size: 100%;
}

.ticket-card {
  margin-bottom: 1.5rem;
  border: 1px solid #e8eaeb;
  background-color: #fff;
}

.ticket-card__title-box {
  background-color: #101d2c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.ticket-card__title-box span {
  display: block;
}

.ticket-card__title {
  font-size: 1rem;
}

.ticket-card__title--main {
  font-size: 1.5rem;
}

.ticket-card__title--sub {
  color: #e8eaeb;
  font-weight: 400;
}

.ticket-card__admission {
  text-align: right;
}

.ticket-card__admission--main {
  font-weight: 700;
}

.ticket-card__admission--sub {
  color: #e8eaeb;
}

.ticket-card__detail-box {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e8eaeb;
}

.ticket-card__detail {
  display: flex;
  flex-basis: 50%;
}

@media only screen and (max-width: 36em) {
  .ticket-card__detail {
    flex-basis: 100%;
  }

  .ticket-card__detail:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.ticket-card__icon {
  height: 1.5rem;
  fill: #c69963;
  padding-right: 0.8rem;
}

.ticket-card__note-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: #54483A;
}

.concert-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  flex-basis: 32%;
}

@media only screen and (max-width: 62em) {
  .concert-card {
    flex-basis: 100%;
  }
}

.concert-card:not(:last-of-type) {
  margin-right: 2%;
}

.concert-card h3 {
  color: #101d2c;
  font-weight: bold;
  font-size: 1.25rem;
}

.concert-card__subtitle {
  color: #54483A;
  margin-bottom: 0.5rem;
}

.concert-card__item {
  display: flex;
  align-items: center;
}

.concert-card__icon {
  width: 1.25rem;
  fill: #c69963;
  margin-right: 0.5rem;
}

.backstage-bar {
  border-bottom: 1px solid #e8eaeb;
  padding: 1rem 0;
  background-color: #fff;
}

.backstage-bar h1 {
  font-size: 1.25rem;
}

.backstage-bar h1 span {
  color: #afb3b5;
  font-weight: 300;
  font-size: 1rem;
}

.backstage-bar h1 .slash {
  margin: 0 0.5rem;
}

.progress-card {
  background: #fff;
  border-radius: 0.25rem;
}

.progress-card__section {
  border-bottom: 1px solid #e8eaeb;
  padding: 1rem 1.5rem;
}

.progress-card__section .progress {
  display: block;
  width: 100%;
  height: 0.5rem;
}

.progress-card__section .progress[value] {
  background: #e8eaeb;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
}

.progress-card__section .progress[value]::-ms-fill {
  background: #c69963;
  border: 0;
}

.progress-card__section .progress[value]::-webkit-progress-value {
  background: #c69963;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.progress-card__section .progress[value]::-moz-progress-bar {
  background: #c69963;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.progress-card__section .progress[value]::-webkit-progress-bar {
  background: #e8eaeb;
  border-radius: 0.25rem;
}

.progress-card__list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2.5rem;
  text-align: center;
}

.progress-card__item {
  flex-basis: 33.33333333%;
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 48em) {
  .progress-card__item {
    flex-basis: 100%;
  }
}

.progress-card__item h3 {
  font-size: 1rem;
}

.progress-card__item .bold {
  font-size: 2.25rem;
  margin-top: 0.25rem;
}

.orders-list {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.orders-list .table th,
.orders-list table td {
  text-align: left;
  padding: 0.5rem;
}

.orders-list .table th {
  font-weight: 700;
  border-bottom: 2px solid #e8eaeb;
}

.orders-list .table td {
  border-bottom: 1px solid #e8eaeb;
}

@media only screen and (max-width: 36em) {
  .orders-list .table .sm-hide {
    display: none;
  }
}

.message-card {
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.message-card .list-title {
  margin-top: 0.5rem;
}

.message-card .form {
  padding: 0;
  padding-top: 1rem;
}

.backstage-footer {
  background-color: #101d2c;
  padding: 2rem 0;
  color: #fff;
  text-align: center;
}

.cta {
  background-color: #fff;
}

.order-box {
  max-width: 60rem;
  margin: 0 auto;
}

.order__header {
  border-bottom: 1px solid #e8eaeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.order__summary {
  font-weight: normal;
}

@media only screen and (max-width: 36em) {
  .order__summary {
    flex-basis: 100%;
  }
}

.order__confirmation-num {
  color: #c69963;
}

@media only screen and (max-width: 36em) {
  .order__confirmation-num {
    flex-basis: 100%;
  }
}

.order__desc {
  border-bottom: 1px solid #e8eaeb;
  padding: 1rem;
}

.order__total {
  font-weight: 700;
  color: #54483A;
}

.ticket-cards__title {
  font-size: 1rem;
  padding: 2rem 1rem 1rem 1rem;
}

.create-form {
  padding: 1.5rem 0;
  display: block;
}

.create-form .form-part {
  border-bottom: 1px solid #e8eaeb;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.create-form .form-part__container {
  display: flex;
  flex-wrap: wrap;
}

.create-form .form-part__container .form-info {
  flex-basis: 33.33333333%;
  padding: 1rem 0;
  padding-right: 1rem;
}

@media only screen and (max-width: 62em) {
  .create-form .form-part__container .form-info {
    flex-basis: 100%;
  }
}

.create-form .form-part__container .form-info h2 {
  font-size: 1rem;
  font-weight: 700;
}

.create-form .form-part__container .form-info p {
  font-size: 0.875rem;
}

.create-form .form-part__container .form-card {
  flex-basis: 66.66666667%;
  background-color: #fff;
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 62em) {
  .create-form .form-part__container .form-card {
    flex-basis: 100%;
  }
}

.flex-list {
  display: flex;
}

.flex-list .item--4 {
  flex-basis: 33.333%;
}

.flex-list .form__group:not(:last-child) {
  margin-right: 1rem;
}

.flex-list .form__group:not(:first-child) {
  margin-left: 1rem;
}

.your-concerts {
  display: flex;
  flex-wrap: wrap;
}

.list-title {
  font-size: 1rem;
  color: #54483A;
  margin: 1.5rem 0 0.75rem;
}

.message-box {
  margin: 2rem 0;
}

